<footer>
	<div id="footer-left">
		<a href="mailto:andukuri@stanford.edu"><i class="fa-lg fa fa-envelope footer-icon" aria-hidden="true"></i></a>
		<a href="http://www.twitter.com/chinmaya_mohan"><i class="fa-lg fab fa-twitter footer-icon" aria-hidden="true"></i></a>
		<a href="https://github.com/scandukuri"><i class="fa-lg fab fa-github footer-icon" aria-hidden="true"></i></a>
		<a href="https://www.linkedin.com/in/chinmaya-andukuri-706b45136/"><i class="fa-lg fab fa-linkedin-in footer-icon" aria-hidden="true"></i></a>
		<br>
		<br>
		&copy; <time datetime="{{ site.time | date: "%B %-d, %Y" }}">{{ site.time | date: '%Y' }}</time> Chinmaya Andukuri
	</div>
	<div id="footer-right">
		Chinmaya Andukuri is a student at Stanford University, studying reasoning and problem-solving in language models.
	</div>
</footer>
