<head>
  <meta charset="utf-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <link href="https://fonts.googleapis.com/css?family=Gaegu:300,700" rel="stylesheet">

  <!-- Enable responsiveness on mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Share card -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@chinmaya_mohan" />
  <meta name="twitter:creator" content="@chinmaya_mohan" />
  <meta property="og:url" content="https://scandukuri.github.io" />
  <meta property="og:title" content="Chinmaya Andukuri" />
  <meta property="og:description" content="Chinmaya Andukuri is a student at Stanford University, studying reasoning and problem-solving in language models." />
  <meta property="og:image" content="http://scandukuri.github.io/images/share.png" />

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} — {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <!-- <link rel="stylesheet" href="styles.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">

  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png?v=xQdLjRyXLj">
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png?v=xQdLjRyXLj">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png?v=xQdLjRyXLj">
  <link rel="manifest" href="/icons/site.webmanifest?v=xQdLjRyXLj">
  <link rel="mask-icon" href="/icons/safari-pinned-tab.svg?v=xQdLjRyXLj" color="#313131">
  <link rel="shortcut icon" href="/icons/favicon.ico?v=xQdLjRyXLj">
  <meta name="msapplication-TileColor" content="#313131">
  <meta name="msapplication-config" content="/icons/browserconfig.xml?v=xQdLjRyXLj">
  <meta name="theme-color" content="#ffffff">

  <!-- Feed -->
  {% feed_meta %}

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-YMVTT71WC1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-YMVTT71WC1');
  </script>

</head>
